<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="swissMonitor" type="Swiss.Monitor.Configuration.ConfigurationRoot, SwissMonitor" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  

   <!-- 
    The swissMonitor element can take the following attributes, only add those that you need to override and only
    if the defaults do not work for you
    
    notificationCheckInterval="10000"     how often to check for notifications to send to SwissCenter in ms
    maxRetries="2"                        how many times to retry notifying SwissCenter in case of failure
    retryPeriod="00:01:00"                how long to wait between retries in hours:mins:secs 2 digit left 0 padded
    keepLastLogs="3"                      how many old logs to keep before deleting them, defaults to 3 if omitted
  -->
  <swissMonitor>
    
    <ignoredExtensions>
      <!-- Add any extensions here that you want to ignore e.g.
        <add extension=".tmp" />
        <add extension=".temp" />
      -->
    </ignoredExtensions>
    
    <!-- Only uncomment these sections if you need to -->
    <!--<swissCenter database="server=localhost;user id=swiss; password=swiss; database=swisscenter; pooling=false"
                 iniPath="path to swisscenter ini file" />-->

    <!--<simese port="8080"
            iniPath="path to simese ini file" />-->

    <!--<debug notificationUri="http://localhost:53829/Default.aspx"
           locationProviderType="Swiss.Monitor.StubLocations, SwissMonitor"
           databaseConnectionRetryPeriod="00:05:00" />-->

  </swissMonitor>

  
  <!-- This section is for logging, don't change unless you are told to -->
  <system.diagnostics>
    <trace autoflush="true" />

    <sources>
      <source name="Swiss.Monitor" switchValue="Warning">
        <listeners>
          <add name="Logfile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="Logfile" type="Swiss.Monitor.RolloverTextWriterTraceListener, SwissMonitor" initializeData="swissmonitor.log"
           traceOutputOptions="DateTime"/>
    </sharedListeners>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

</configuration>
