div.sdmenu 
{
        margin: 0 0 0 6px;
	width: 165px;
	font-family: Arial, sans-serif;
	font-size: 10px;
	padding-bottom: 10px;
	color: #fff;
}

div.sdmenu div 
{
	background: url(/images/title.png);
	overflow: hidden;
        cursor: pointer;
}

div.sdmenu div:first-child 
{
	background: url(/images/title.png);
}

div.sdmenu div.collapsed 
{
	height: 25px;
}

div.sdmenu div span 
{
	display: block;
	padding: 5px 15px;
	font-weight: bold;
	color: white;
	background: url(/images/expanded.gif) no-repeat 2px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}

div.sdmenu div.collapsed span 
{
	background-image: url(/images/collapsed.gif);
}

div.sdmenu div a 
{
	padding: 5px 15px;
	background: url(/images/item.png);
	display: block;
	border-bottom: 1px solid #ddd;
	color: #000;
	text-decoration: none;
}

div.sdmenu div a.current 
{
	background : url(/images/current.png);
}

