.title                  {  font-family       : sans-serif;
                           font-size         : 20px;
                           font-weight       : bold;
                           color             : #000000;
                           margin-left       : 10px; 
                         }
  
h1                       { font-family       : sans-serif;
                           font-size         : 18px;
                           text-align        : center;
                           font-weight       : bold;
                           padding-top       : 10px;
                           color             : #ff8800; 
                         }
                    
h2                       { font-family       : sans-serif;
                           font-size         : 14px;
                           text-align        : center;
                           font-weight       : bold;
                           padding-top       : 10px;
                           color             : #ff4444; 
                         }
  
tr, p, div, textarea     { font-family       : Verdana, Arial, Helvetica, sans-serif;
                           font-size         : 11px; 
                         }
  
hr                       { background        : #999999;
                           height            : 1px;
                           width             : 100%;  
                         }
  
.stdformreq              { color             : #000000; }
.stdform                 { color             : #000000; }
.stdformlabel            { color             : #dd4400; }
.stdformlabel em         { color             : #992200; }

.form_select_tab         { margin             : 0px;
                           padding            : 0px; 
                         }
                          
.form_select_tab th      { background         : #ffbb88;
                           text-align         : left;
                           font-size          : 11px; 
                         }
                          
.form_select_tab tr      { background         : #ffffff; }

.message                 { color              : #000000;
                           background         : #bbffbb;
                           padding            : 2px;
                           text-align         : center;
                           font-weight        : bold; 
                         }

.warning                 { color              : #000000;
                           background         : #ffbbbb;
                           padding            : 2px;
                           text-align         : center;
                           font-weight        : bold; 
                         }
                          
