.fd-slider
        {
        position:relative;
        width:100%;
        height:20px;
        text-align:center;
        }

.fd-slider-inner
        {
        position:relative;
        height:18px;
        text-align:left;
        background:#fcfcfc;
        border:1px solid #ccc;
        -moz-user-focus:normal;
        -moz-user-select:none;
        voice-family: "\"}\"";
        voice-family: inherit;
        height:20px;
        }

.fd-slider-bar
        {
        position:relative;
        height:4px;
        border:1px solid #bbb;
        border-bottom:1px solid #aaa;
        border-right:1px solid #aaa;
        background:#ddd;
        margin:0;
        overflow:hidden;
        line-height:4px;
        -moz-user-select:none;
        voice-family: "\"}\"";
        voice-family: inherit;
        height:2px;
        }

html>body .fd-slider-bar
        {
        height:2px;
        }

.fd-slider-inner:focus, .focused
        {
        background:#eee !important;
        border:1px solid #aaa !important;
        }

.fd-slider-handle
        {
        position:absolute;
        top:0;
        left:0;
        width:20px;
        height:20px;
        background:transparent url(/images/slider.png) no-repeat 0px 0px !important;
        background:none;
        -moz-user-select:none;
        }

.fd-slider-hover
        {
        background:transparent url(/images/slider-hover.png) no-repeat 0px 0px !important;
        background:none;
        }

div.slider_200px
        {
        width:200px;
        float:left;
        margin-right: 6px;
        }

