<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>

  <appSettings>
    <!-- Overrides. Only to be used for support purposes -->
    <!-- <add key="SimeseIniPath" value="" /> -->
    <!-- <add key="SwissCenterIniPath" value="" /> -->
    <!-- <add key="NotificationUri" value="" />-->
    <!-- <add key="SwissCenterConnectionString" value="" />-->

    <add key="NotificationCheckInterval" value="5000" /> <!-- ms -->
    <add key="MaxRetries" value="5" />
    <add key="RetryPeriod" value="00:01:00" /> <!-- hours:mins:secs 2 digit left 0 padded-->
    <add key="DatabaseConnectionRetryPeriod" value="00:05:00" /> <!-- hours:mins:secs 2 digit left 0 padded-->

    <!-- <add key="LocationProviderType" value="Swiss.Monitor.StubLocations, SwissMonitor"/>-->
    <!-- <add key="SimesePort" value="8080"/>-->
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" />

    <sources>
      <source name="Swiss.Monitor" switchValue="ActivityTracing,Warning"> 
        <listeners>
          <add name="Logfile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="Logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="SwissMonitor.log"
           traceOutputOptions="DateTime"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
